@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
#map{
    height: 80vh;
}

#map-container{
    position: relative;
}

#results{
    overflow-y: scroll;
}

.search-result{
    margin: 10px;
    cursor: pointer;
}

.marker-cluster-small {
    background-color: rgba(218, 94, 94, 0.6);
    }
    .marker-cluster-small div {
    background-color: rgba(226, 36, 36, 0.6);
    }
    .marker-cluster-medium {
    background-color: rgba(3, 96, 110, 0.6);
    }
    .marker-cluster-medium div {
    background-color: rgba(12, 104, 150, 0.6);
    }
    
    .marker-cluster-large {
    background-color: rgba(85, 51, 36, 0.6);
    }
    .marker-cluster-large div {
    background-color: rgba(91, 54, 19, 0.6);
    }


.leaflet-control{
    background-color: burlywood;
}

.leaflet-control-layers{
    background-color: rosybrown;
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background-color: rosybrown;
	}



.leaflet-right .leaflet-control-layers:nth-child(1) .leaflet-control-layers-toggle {
    background-image: url(images/overlay-control/tickets.png);
    width: 36px;
    height: 36px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: rgba(192, 57, 43, 0.8);
    color:black;
    font-size:10px;
    /* line-height:24px; */
    }
  .custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
    }

  .custom-popup .leaflet-popup-tip {
    border-style: solid 2px #C0392B;
    }
/* #all-pages{
    position: relative;
}

#page-1{
    height: 100vh;
    width: 100vw;
    display: block; */
    /* box-sizing: border-box; */
    /* position: absolute;
}

.hidden{
    transform: translateY(-100%);
    transition: transform 0s;
}

.show{
    transform: translateX(0);
    transition: transform 1s;
}

#page-1{
    background-image: url(images/merlion.png);
    background-position: center;
    background-size: fit;
}
#page-2{
    display: none;
}

.tab-pane{
    height: 600px;
    overflow-y: scroll;
} */

#search-side{
    display:none;
}

#weatherBtn{
    position: absolute;
    z-index: 314159;
    top: 10px;
    right: 50px;
    background-color: rgba(192, 57, 43, 0.8);
}